body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.box{
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
}
fieldset{
    border: 3px solid dodgerblue;
    padding: 10px;

}
legend{
    margin-top: 10px;
    border: 1px;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(20, 220, 37));
    border-radius: 8px;
}

.btn {
    border: 1px;
    border-radius: 0.6em;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(20, 220, 37));
    color: #fff;
    padding:15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    
  }
.inputBox{
    position: relative;

}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;

}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    margin-left: 5px;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(20, 220, 37));    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(13, 57, 108), rgb(25, 111, 32));}

.container, footer{
    margin-top: 50%;

}